@use "font.css";

$font-stack: Verdana, sans-serif;
$primary-color: #333;
$primary-size: 1rem;
$blue: blue;
$red: red;
$green: green;
$white: white;
$black: black;

body {
	font-family: $font-stack;
	color: $primary-color;
	font-size: $primary-size;
	background: #aaa;
}

.box {
	display: flex;
	justify-content: center;
}

.pack-set {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pack {
	
	width: 40vw;
	border: 2px solid $primary-color;
	border-radius: 15px;
	margin: 20px;
	padding: 15px;
	box-shadow: 5px 5px 15px $red;
	background: #fff;
	transition: box-shadow 0.3s ease-in-out;
	
	&:nth-child(2) {
		box-shadow: 5px 5px 15px $green
	}
	
	&:nth-child(3) {
		box-shadow: 5px 5px 15px $blue;
	}
	
	&:nth-child(4) {
		box-shadow: 5px 5px 15px $white;
	}
	
	&:nth-child(5) {
		box-shadow: 5px 5px 15px $black;
	}
	
	&:nth-child(6) {
		box-shadow: 5px 5px 15px $primary-color;
	}
	
	&:hover {
		box-shadow: 0px 0px 30px #ffdf00;
	}	
		
	.name {
		margin-right: 20px;
	}
	
	li {
		position: relative;
		list-style-type: none;
	
		&::before {
			display: inline-block;
			height: 10px;
			width: 10px;
			background: gray;
			border: 1px solid #000;
			position: absolute;
			left: -20px;
			top: 4px;
			content: ' ';
		}
		&.G::before {    
			background: $green;
		}

		&.R::before {
			background: $red;
		}

		&.U::before {
			background: $blue;
		}

		&.B::before {
			background: $black;
		}

		&.W::before {
			background: $white;
			border: 1px solid #000;
		}

		//friendly pairs

		&.GW::before {
			background-image: linear-gradient($green, $white);
		}
	
		&.UW::before {
			background-image: linear-gradient($blue, $white);
		}
		
		&.GR::before {
			background-image: linear-gradient($green, $red);
		}
	
		&.BR::before {
			background-image: linear-gradient($black, $red);
		}
	
		&.BU::before {
			background-image: linear-gradient($black, $blue);
		}
	
		//enemy pairs

		&.BG::before {
			background-image: linear-gradient($black, $green);
		}

		&.RW::before {
			background-image: linear-gradient($red, $white);
		}

		&.RU::before {
			background-image: linear-gradient($red, $blue);
		}
	
		&.BW::before {
			background-image: linear-gradient($black, $white);
		}
	
		&.GU::before {
			background-image: linear-gradient($green, $blue);
		}
	}
}