@use "font.css";

$font-stack: Verdana, sans-serif;
$primary-color: #333;
$primary-size: 1rem;
$blue: blue;
$red: red;
$green: green;
$white: white;
$black: black;
$light-gray: #666;
$gold: #ffdf00;
$border-radius: 15px;
$small: 576px;
$medium: 820px;
$large: 1300px;


body {
	font-family: $font-stack;
	color: $primary-color;
	font-size: $primary-size;
	background: #aaa;
}

.visually-hidden {
	position: absolute;
	left: -9999px;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

button {
	padding: 20px;
	border-radius: $border-radius;
	font-size: 2rem;
	margin: 0 20%;
	background: $primary-color;
	color: $white;
		
			&:hover {
				box-shadow: 0px 0px 30px $gold;
			}
			
			&:disabled {
				background: $light-gray;
				color: #fff;			
			}
}

.box {
	display: flex;
	justify-content: center;
	
	h1 {
		margin-bottom: 5px;
			
	}
	
	.form-container {
		width: 75%;
		color: $primary-color;
		background: #ccc;
		padding: 0 20px 20px;
		border: 2px solid $primary-color;
		border-radius: $border-radius;
		display: flex;
		justify-content: center;
		flex-direction: column;
		
		p {
			margin: 5px 0;
			
			&:last-of-type {
				margin-bottom: 20px;
			}
			
		}
		
		.numPacks {
			display: flex;
			justify-content: center;
			flex-direction: column;
		
			div {
				margin-bottom: 20px;
				
				select {
					padding: 2px;
					margin-left: 10px;
					border-radius: 5px;
					font-size: 1.2rem;
				}

			}
		}
	}

	.pack-set {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			animation: fadeInAnimation ease 3s;
    		animation-iteration-count: 1;
    		animation-fill-mode: forwards;

		.pack {
	
			width: 40vw;
			border: 2px solid $primary-color;
			border-radius: $border-radius;
			margin: 20px;
			padding: 15px;
			background: #fff;
			transition: box-shadow 0.3s ease-in-out;

			@keyframes fadeInAnimation {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
					 }
				}

			
			@media (max-width: $medium) {
				width: 80vw;
			}
			
			@media (min-width: $large) {
				width: 27vw;
			}
			
			&:nth-child(6n) {
				box-shadow: 5px 5px 15px $red;
			}
			
			&:nth-child(6n+1) {
				box-shadow: 5px 5px 15px $green
			}
	
			&:nth-child(6n+2) {
				box-shadow: 5px 5px 15px $black;
			}
	
			&:nth-child(6n+3) {
				box-shadow: 5px 5px 15px $blue;
			}
	
			&:nth-child(6n+4) {
				box-shadow: 5px 5px 15px $white;				
			}
	
			&:nth-child(6n+5) {
				box-shadow: 5px 5px 15px $light-gray;
			}
	
			&:hover {
				box-shadow: 0px 0px 30px $gold;
			}	
		
			.name {
				margin-right: 20px;
			}
	
			li {
				position: relative;
				list-style-type: none;
	
				&::before {
					display: inline-block;
					height: 10px;
					width: 10px;
					background: gray;
					border: 1px solid #000;
					position: absolute;
					left: -20px;
					top: 4px;
					content: ' ';
				}
				&.G::before {    
					background: $green;
				}

				&.R::before {
					background: $red;
				}

				&.U::before {
					background: $blue;
				}

				&.B::before {
					background: $black;
				}

				&.W::before {
					background: $white;
					border: 1px solid #000;
				}

				//friendly pairs

				&.GW::before {
					background-image: linear-gradient($green, $white);
				}
	
				&.UW::before {
					background-image: linear-gradient($blue, $white);
				}
		
				&.GR::before {
					background-image: linear-gradient($green, $red);
				}
	
				&.BR::before {
					background-image: linear-gradient($black, $red);
				}
	
				&.BU::before {
					background-image: linear-gradient($black, $blue);
				}
	
				//enemy pairs

				&.BG::before {
					background-image: linear-gradient($black, $green);
				}

				&.RW::before {
					background-image: linear-gradient($red, $white);
				}

				&.RU::before {
					background-image: linear-gradient($red, $blue);
				}
	
				&.BW::before {
					background-image: linear-gradient($black, $white);
				}
	
				&.GU::before {
					background-image: linear-gradient($green, $blue);
				}
				
				//Friendly Shards
				&.GWU::before, &.GUW::before {
					background-image: linear-gradient($green, $white, $blue);
				}
				
				&.BRU::before {
					background-image: linear-gradient($black, $red, $blue);
				}
				
				&.GRW::before {
					background-image: linear-gradient($red, $green, $white);
				}
				&.BGR::before {
					background-image: linear-gradient($black, $green, $red);
				}
				&.BUW::before {
					background-image: linear-gradient($black, $blue, $white);
				}
			}
		}
	}
}

.add-more, .packForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
		
		.packForm {
			flex-direction: row;
			align-content: space-between;
			
			button {
				margin: 0 20px;
			}
		}
		
		span {
			text-align: center;
			color: $white;
		}
}